# Gradle / IDE
.gradle/
local.properties
/.idea/
/app/build/
/build/

# Реверс и временные
/jadx/
/alphav1-src/
*.apk
*.zip

# ВАЖНО: НЕ игнорировать Gradle wrapper jar
!gradle/wrapper/gradle-wrapper.jar
