<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaba.eskukap">

    <application
        android:label="Eskukap"
        android:icon="@mipmap/ic_launcher">

        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="Eskukap camera hook"/>
        <meta-data android:name="xposedminversion" android:value="54"/>

        <activity
            android:name=".SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
