name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant gradlew permission
        run: chmod +x gradlew

      - name: Build Release APK
        run: ./gradlew assembleRelease

      - name: Create debug keystore
        run: |
          keytool -genkeypair -v \
            -keystore debug.keystore \
            -storepass android \
            -alias androiddebugkey \
            -keypass android \
            -keyalg RSA -keysize 2048 -validity 10000 \
            -dname "CN=Android Debug,O=Android,C=US"

      - name: Sign APK
        run: |
          APK=$(ls app/build/outputs/apk/**/*.apk | head -n 1)
          BT=$(ls "$ANDROID_HOME/build-tools" | sort -V | tail -n 1)
          "$ANDROID_HOME/build-tools/$BT/apksigner" sign \
            --ks debug.keystore \
            --ks-pass pass:android \
            --key-pass pass:android \
            "$APK"

      - name: Upload SIGNED APK
        uses: actions/upload-artifact@v4
        with:
          name: CamYan-APK-SIGNED
          path: app/build/outputs/apk/**/*.apk
